# Analyze dataset

# 1. Imports

## 1.1 Packages

In [1]:
import os

import pandas as pd

## 1.2 Options

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
path_data = '../data/raw/'

## 1.3 Datasets

In [6]:
df = pd.read_csv(os.path.join(path_data, 'train.csv'), index_col=0)

In [7]:
df.head(2)

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1

# 2. Analyze data

In [8]:
print('Shape of the dataset', df.shape)

Shape of the dataset (7613, 4)

In [9]:
df.keyword.value_counts(dropna=False)

NaN                      61
fatalities               45
deluge                   42
armageddon               42
sinking                  41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 222, dtype: int64

In [10]:
df.location.value_counts(dropna=False)

NaN                             2533
USA                              104
New York                          71
United States                     50
London                            45
                                ...
Surulere Lagos,Home Of Swagg       1
MontrÌ©al, QuÌ©bec                 1
Montreal                           1
ÌÏT: 6.4682,3.18287                1
Lincoln                            1
Name: location, Length: 3342, dtype: int64